.small-palette-container {
  margin: 50px 35px;
}

.small-palette-display {
  display: flex;
}

.small-palette-display div {
  height: 130px;
  width: 80px;
}

.palette-control-container {
  display: flex;
  justify-content: space-between;
}

#delete-palette {
  margin-bottom: 2px;
}

#delete-palette:hover {
  transform: scale(1.3);
}
