.swatch {
  flex: 1;
}

.color-swatch{
  height: 50vh;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}


#lock, #hex{
  opacity: .5;
  opacity: .5;
  font-size: 2rem;
  align-self: center;
} 